.App {  
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Pokemon, Arial, Helvetica, sans-serif;
  .app-bottom {
    display: flex;
    gap: 10px;
  }
}
.deck {
  border: 2px solid black;
  flex: 1;
  &.active {
    .header {
      background-color: green;
    }
  }
  .active-player {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    strong {
      text-transform: uppercase;
    }
  }
  .header {
    display: flex;
    background: gray;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    h1 {
      margin: 0px;
      top: 0;
    }
  }
  .data-list {
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: scroll;
    height: 350px;
    .data-item {
      animation: fadeIn 0.2s linear;
      transition: all 0.1s linear;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      &:hover {
        // background: #eee;
        transform: scale(1.1);
      }
      &.disable {
        opacity: 0.2;
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: 'Pokemon';
  src: local('Pokemon'), url(../public/Pokemon-Hollow.ttf) format('ttf');
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .powers {
    display: flex;
    gap: 10px;
    .power-item {
      span {
        font-size: larger;
        margin-left: 10px;
      }
    }
  }
}